.transparent {
    background-color: transparent;
}

taskrow {
    border-bottom: 1px solid alpha(@borders, 0.4);
}

row.thumbnail {
    border: solid 1px @borders;
    box-shadow: 0px 0px 3px alpha(@borders, 0.8);;
    border-radius: 16px;
}

grid-item.thumbnail {
    padding: 6px;
    font-size: 10px;
}

grid-item image {
    margin: 12px 24px;
    font-size: 10px;
    border: solid 1px @borders;
    border-radius: 4px;
    box-shadow: 0px 0px 4px alpha(@borders, 0.8);
}

grid-item {
    background-color: transparent;
}

grid-item.light,
task-list-view.light taskrow label {
    color: #000003;
}

task-list-view taskrow:hover {
    background-color: alpha(#ededed, 0.4);
}

grid-item.dark,
task-list-view.dark taskrow,
task-list-view.dark overlay label,
task-list-view.dark overlay image {
    color: #eeeeec;
}

task-list-view.dark taskrow:hover {
    background-color: alpha(#393f3f, 0.4);
}

arrow-frame {
    border: solid 1px;
    border-bottom-width: 0px;
    border-top-width: 0px;
    background-color: @theme_bg_color;
    border-color: @borders;
}

arrow-frame:dir(ltr) {
    border-right-width: 0px;
}

arrow-frame:dir(rtl) {
    border-left-width: 0px;
}

label.main-title {
    font-size: 28px;
}

/* priority icons */
taskrow {
    background-color: @transparent;
}

taskrow.priority-low {
    background-color: alpha(#3465a4, 0.2);
}

taskrow.priority-low:hover {
    background-color: alpha(#3465a4, 0.4);
}


taskrow.priority-medium {
    background-color: alpha(#f57900, 0.2);
}

taskrow.priority-medium:hover {
    background-color: alpha(#f57900, 0.4);
}

taskrow.priority-hight {
    background-color: alpha(#cc0000, 0.2);
}

taskrow.priority-hight:hover {
    background-color: alpha(#cc0000, 0.4);
}

/* extension list */
list.extension-list row {
    border-bottom: solid 1px @borders
}

/* circle button */
button.circle {
    border-radius: 20px;
}
